body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    font-size: 0.8rem;
    text-align: center;
    margin-top: auto;
}
